@use 'src/styles/vars';

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  background-color: #F9F9FC;
  border-radius: 30px;
  height: 300px;
  width: 300px;


  &-label {
    // width: 282px;
    // height: 29px;
    // left: 751px;
    // top: 474px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #5843E4;
  }

  // &-img {
  //   width: 80px;
  //   height: auto;
  // }
}
